body {
    font: 11pt Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    margin: 0; /* Отступы на странице */
    height: 100%;
}

#header { /* Верхний блок */
    background-image: linear-gradient(20deg, #0b959a, #126493);
    /*background: #0080c0; !* Цвет фона *!*/
    padding: 5px; /* Поля вокруг текста */
    height: 45px;
}

#sidebar { /* Левая колонка */
    float: left; /* Обтекание справа */
    border: 1px solid rgba(51, 51, 51, 0.4); /* Параметры рамки вокруг */
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.09);
    width: 17%; /* Ширина колонки */
    padding: 5px; /* Поля вокруг текста */
    margin: 10px 10px 20px 70px; /* Значения отступов */
}

#content { /* Правая колонка */
    margin: 10px 70px 40px 24%; /* Значения отступов */
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid rgba(51, 51, 51, 0.4); /* Параметры рамки вокруг */
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.09);
}

.footer { /* Нижний блок */
    background: #575757; /* Цвет фона */
    padding: 6px; /* Поля вокруг текста */
    color: #f6f6f6; /* Цвет текста */
    clear: left; /* Отменяем действие float */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15px
}

hr {
    border: none; /* Убираем границу */
    background-color: rgba(51, 51, 51, 0.4); /* Цвет линии */

    height: 1px; /* Толщина линии */
}

a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: black;

}

nav {
    display: flex;
    justify-content: start;
}

.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.pagination li {
    margin: 0 1px;
}

.nav-link a {
    font-size: 18px;
}

a:hover {
    border-bottom: 1px solid black;
}

input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
}

textarea:valid {
    border-color: green;
}

textarea:invalid {
    border-color: red;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 8px 10px 10px 0;
    outline: black;
    border: #151414;
    border: 2px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #f3f0f0;
    background-color: rgba(56, 151, 152, 0.98);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
}

.btn:hover {
    background-color: #1d82bd;
}

.btn:active {
    background-color: #329ec2 !important;
}

.btn:focus-visible {
    box-shadow: 0 0 0 3px #b8c1cb;
}

.btn:disabled {
    background-color: #959aa2;
    pointer-events: none;
}

.search-form {
    width: 70%;
    height: 26px;
    padding-left: 10px;
    border: 3px solid #338e8f;
    border-radius: 5px;
    outline: none;
    background: #f1f0ee;
    color: #797878;
    margin-top: -3px;
    margin-left: 20px;
}

.login-form {
    width: 90%;
    height: 20px;
    padding-left: 10px;
    border: 2px solid #338e8f;
    outline: none;
    background: #fdfdfd;
    margin-top: 4px;
    margin-bottom: 0px;
    position: center;
}

.book-form {
    width: 220px;
    height: 15px;
    padding-left: 10px;
    border: 2px solid #338e8f;
    outline: none;
    background: #ffffff;
    margin-top: 2px;
    margin-bottom: 0px;
    position: center;
}

.description-form {
    height: 70px;
    width: 220px;
    padding-left: 10px;
    border: 2px solid #338e8f;
    outline: none;
    background: #ffffff;
    margin-top: 2px;
    margin-bottom: 0px;
    position: center;
}

.user-form {
    width: 53%;
    height: 15px;
    padding-left: 10px;
    border: 2px solid #338e8f;
    outline: none;
    background: #ffffff;
    margin-top: 2px;
    margin-bottom: 0px;
    position: center;
}

/*.....................*/
textarea {
    width: 200px;
    height: 176px;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    float: left;
    margin-top: 0;
    overflow-y: auto;
}